html{
    font-size: 16px;
    font-family: sans-serif;
}

main{
    display: flex;
}

.comentario, .formulario{
    width: 50vw;
    height: 100vp;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.comentario{
    background-color: #d9d9d9;
}
.comenterios__titulo{
    color:#A09A9A;
    font-size: 85px;
    font-weight: 300;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

li{
    display: flex;
    flex-direction: column;
}

input{
    padding: 8px;
}

.boton{
    padding: 8px;
}

.checkbox{
    flex-direction: row;
}

